@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #fef9f3;
  --foreground: #333333;
  --primary: #ff914d;
  --secondary: #ffcc80;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #f5f5f5;
    --primary: #ffb38a;
    --secondary: #ffd9b3;
  }
}

body {
  color: black;
  background: #F2F2F1;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Ajustando o fundo para mais claridade */
.bg-pet-pattern {
  background-image: url('/images/pet-background.webp');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20% 20%;
}
